<% @posts.each do |post| %>
  <p> title: <%= post.try(:title) %> </p>
  <p> description: <%= post.try(:description) %> </p>
  <p> keywords: <%= post.try(:keywords) %> </p>
  <p> tags: <%= post.try(:tags) %> </p>
  <p> html: <%= post.try(:html) %> </p>
<% end %>
